.intro__list {
  margin: 0 auto;
  padding: 0;
  min-width: 288px;
  font-family: 'Inter', "Arial", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  list-style-type: none;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .intro__list {
    max-width: 720px;
    z-index: 1;
  }
}

@media screen and (min-width: 1024px) {
  .intro__list {
    max-width: 690px;
  }
}
