.header__logo {
    margin: 0 auto;
    padding-left: 0px;
    padding-bottom: 0;
    min-width: 142px;
    min-height: 42px;
    float: left;
    margin-left: 0;
}

@media screen and (min-width: 768px) {
    .header__logo {
        max-width: 176px;
        max-height: 52px;
        padding-left: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .header__logo {
        max-width: 176px;
        max-height: 52px;
        padding-left: 48px;
    }
}

@media screen and (min-width: 1280px) {
    .header__logo {
        max-width: 176px;
        max-height: 52px;
        margin-left: 48px;
    }
}