.header {
  margin: 0 auto;
  display: flex;
  min-width: 288px;
  min-height: 42px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .header {
    min-width: 720px;
    min-height: 52px;
    padding: 0;
    padding-top: 28px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    min-width: 928px;
    min-height: 52px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    min-width: 1184px;
    min-height: 52px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 28px;
  }
}
