.place__text {
    margin: 0 auto;
    min-width: 288px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.place__text:last-child {
    gap: 0;
}

@media screen and (min-width: 768px) {
    .place__text {
        min-width: 352px;
    }
}

@media screen and (min-width: 1024px) {
    .place__text {
        min-width: 456px;
    }
}

@media screen and (min-width: 1280px) {
    .place__text {
        min-width: 484px;
    }
}