.lead__title {
  min-width: 288px;
  left: 16px;
  font-family: 'Inter', "Arial", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    padding-left: 152px;
    padding-right: 152px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    padding-left: 280px;
    padding-right: 280px;
    margin-bottom: 32px;
  }
}
