.footer__links {
  margin: 0 auto;
  margin-left: 0;
  display: flex;
  padding-left: 0px;
  flex-direction: column;
  list-style-type: none;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .footer__links {
    flex-direction: row;
    gap: 18px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__links {
    padding-left: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__links {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
}
