.footer {
  margin: 0 auto;
  min-width: 186px;
  margin-top: 64px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 16px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .footer {
    min-width: 720px;
    margin-bottom: 24px;
    flex-direction: row;
    margin-top: 88px;
    padding-left: 24px;
    padding-bottom: 0px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    min-width: 928px;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    min-width: 1184px;
    margin-left: 48px;
    padding-left: 0;
  }
}
