.footer {
  margin: 0 auto;
  min-width: 186px;
  min-height: 310px;
  color: #FFFFFF;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: left;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer {
    min-width: 720px;
    min-height: 18px;
    margin-bottom: 24px;
    float: none;
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    min-width: 928px;
    min-height: 18px;
    float: none;
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    min-width: 1184px;
    min-height: 18px;
    float: none;
    flex-direction: row;
  }
}
