.place__website {
  margin: 0 auto;
  min-width: 288px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .place__website {
    align-items: center;
    padding-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__website {
    align-content: flex-end;
    align-items: flex-end;
  }
}
