.place__website_link {
min-width: 288px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 122%;
text-decoration: underline;
color: #FFFFFF;
padding-bottom: 0px;
}

.place__website_link:hover {
    color: #AAAAAA;
  }