.place__text {
margin: 0 auto;
min-width: 288px;
min-height: 312px;
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 25px;
}

.place__text:last-child {
    gap: 0;
}

@media screen and (min-width: 768px) {
    .place__text {
        min-width: 352px;
    }
}

@media screen and (min-width: 1024px) {
    .place__text {
        min-width: 456px;
        gap: 27px;

    }
}

@media screen and (min-width: 1280px) {
    .place__text {
        min-width: 484px;
        gap: 26px;
    
    }
}